<!DOCTYPE html>
<html>
        <head>
                <link rel='stylesheet' href='/css/styles.css'>
        </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Thios site was created by Tarun Rath. It uses data from mapbox.com and darksky.net</p>
            <img src="/img/tarun.jpg" class="portrait">
        </div>
        {{>footer}}
    </body>
</html>